; uses: cargo run --release --bin edgeop_lsys --features "expr_num" -- jeffress_toplogoy.config

; Number of generations
ngen 1000

; Population count
mu 1000

; Offspring count
lambda 500

; The graph we want to approach
graph "graphs/jeffress.graph"

weight 10000.0
plot true

; Edge operations to use and their relative frequencies
edge_ops {
    Output 1
    Save 1
    Restore 1
    Split 1
    Merge 1
    Next 1
    Parent 1
    Reverse 1
    SetEdgeWeight 1
}

var_ops { Mutate 1 Crossover 1 }

rule_mut_ops { ModifyProduction 4 }

rule_prod_mut_ops {
    ReplaceSymbol 2
    ModifyParameter 4
    InsertSequence 2
    DeleteSequence 2
}

flat_expr_ops { ConstClosed01 10 }

recursive_expr_ops { Reciprocz 1 Add 1 Sub 1 }

objectives {
    NeighborMatchingMaxDeg 0.05
    TriadicDistance 0.0
}

seed [11773574799935203692 17004759961956422208]

genome { rules 1 symbol_arity 1 initial_len 1 max_iter 1 prob_terminal 1.0 num_params 0 }
