; Number of generations
ngen 1000

; Population count
mu 1000

; Offspring count
lambda 500

; The graph we want to approach
graph "graphs/jeffress.graph"

; Edge operations to use and their relative frequencies
edgeops {
    Output 1
    Save 1
    Restore 1
    Split 1
    Merge 1
    Next 1
    Parent 1
    Reverse 1
}

; Variation operations to use and their relative frequencies
varops {
    Mutate 1
    Crossover 1
}

; objectives and their thresholds (when to stop optimization)
objectives {
;    StronglyConnectedComponents 1.0
    NeighborMatchingMaxDeg 0.01
;    TriadicDistance 0.0
}

; Random seeds
seed [
    118115348098523076
    11141927190773533586
]

; genome { rules 10 symbol_arity 2 initial_len 1 max_iter 3 prob_terminal 0.7}
;genome { rules 5 symbol_arity 2 initial_len 1 max_iter 2 prob_terminal 0.7}
;genome { rules 1 symbol_arity 2 initial_len 1 max_iter 2 prob_terminal 0.7}
;genome { rules 1 symbol_arity 2 initial_len 1 max_iter 1 prob_terminal 0.7}
genome { rules 1 symbol_arity 2 initial_len 1 max_iter 1 prob_terminal 1.0}
